<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Anime Emporium" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav style="background-color: #f8f9fa; padding: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
        <ul style="list-style: none; display: flex; justify-content: center; gap: 15px; margin: 0; padding: 0;">
          <% Category.all.each do |category| %>
            <li>
              <%= link_to category.name, category_products_path(category), style: "text-decoration: none; color: #007bff; font-weight: bold;" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>

